@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme(colors.white);
    --foreground: theme(colors.stone[950]);

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 44 100% 49%;
    --primary-foreground: 0 0% 2%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 32.11, 97.88%, 37.06%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
    --header-size: 5.0rem;
    --footer-size: 7.0rem;
    --content-size: calc(100dvh - var(--header-size) - var(--footer-size));
    --slide-size: calc(100dvh - var(--header-size));
  }
  
  .dark {
    --background: theme(colors.stone[950]);
    --foreground: theme(colors.white);

    --card: 60 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 60 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 44 100% 49%;
    --primary-foreground: 0 0% 5%;

    --secondary: 45 5% 15%;
    --secondary-foreground: 0 0% 95%;

    --muted: 40 5% 22%;
    --muted-foreground: 45 5% 49%;

    --accent: 53.19, 100%, 63.73%;
    --accent-foreground: 60 3% 6%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 40 5% 12%;
    --input: 45 4% 18%;
    --ring: 44 100% 40%;
  }

  /* For browsers that support clamp and container queries */
  @supports (font-size: clamp(1rem, 1cqi, 1rem)) {
    :root {
      --fluent-sm: clamp(0.8rem, 0.38cqi + 0.65rem, 0.89rem);
      --fluent-base: clamp(1rem, 0.78cqi + 0.69rem, 1.19rem);
      --fluent-md: clamp(1.25rem, 1.39cqi + 0.7rem, 1.58rem);
      --fluent-lg: clamp(1.56rem, 2.28cqi + 0.65rem, 2.11rem);
      --fluent-xl: clamp(1.95rem, 3.58cqi + 0.52rem, 2.81rem);
      --fluent-2xl: clamp(2.44rem, 5.45cqi + 0.26rem, 3.75rem);
      --fluent-3xl: clamp(3.05rem, 8.11cqi + -0.19rem, 5rem);
    }
  }
  /* For browsers that don't support clamp or container queries */
  @supports not (font-size: clamp(1rem, 1cqi, 1rem)) {
    :root {
      --fluent-sm: 0.8rem;
      --fluent-base: 1rem;
      --fluent-md: 1.25rem;
      --fluent-lg: 1.56rem;
      --fluent-xl: 1.95rem;
      --fluent-2xl: 2.44rem;
      --fluent-3xl: 3.05rem;
    }
    @media screen and (min-width: 1024px) {
      :root {
        --fluent-sm: 0.89rem;
        --fluent-base: 1.19rem;
        --fluent-md: 1.58rem;
        --fluent-lg: 2.11rem;
        --fluent-xl: 2.81rem;
        --fluent-2xl: 3.75rem;
        --fluent-3xl: 5rem;
      }
    }
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .header {
    @apply font-sans text-foreground font-semibold tracking-tight mb-4
  }
}

@layer components {
}

.dark-background-pattern {
  opacity: 1;
  background-image: radial-gradient(#322C13 0.8px, rgba(15, 13, 7, 0) 0.8px);
  background-size: 16px 16px;
}

.pattern-1 {
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url('../images/pattern-1.svg');
}

.pattern-3 {
  background:
  conic-gradient(from -116.36deg at 25% 75%,rgba(71, 160, 255, 0) 52.72deg,#0000 0), conic-gradient(from -116.36deg at 25% 75%,rgba(71, 160, 255, 0) 52.72deg,#0000 0) calc(3*30px) calc(30px/2),
  conic-gradient(from   63.43deg at 75% 75%,rgba(71, 160, 255, 0) 52.72deg,#0000 0), conic-gradient(from   63.43deg at 75% 75%,rgba(71, 160, 255, 0) 52.72deg,#0000 0) calc(3*30px) calc(30px/2),
  conic-gradient(
    rgba(168,168,168,0.12)   63.43deg ,rgba(117, 117, 117, 0.12) 0 116.36deg,
    rgba(168,168,168,0.12) 0 180deg   ,rgba(117, 117, 117, 0.12) 0 243.43deg,
    rgba(168,168,168,0.12) 0 296.15deg,rgba(117, 117, 117, 0.12) 0);
background-size: 60px 30px;

}

.pattern-4 {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 32px, rgba(255, 201, 37, 0.12) 32px, rgba(255, 201, 37, 0.12) 64px);
background-color: rgba(71, 212, 255, 0);
}

.pattern-5 {
  background: linear-gradient(45deg,#0000 calc(25%/3), rgba(255, 201, 37, 0.12) 0 calc(50%/3),
      #0000 0 calc(250%/3), rgba(255, 201, 37, 0.12) 0 calc(275%/3),
      #0000 0),linear-gradient( 45deg,rgba(255, 201, 37, 0.12) calc(25%/3), #0000 0 calc(50%/3),
      rgba(255, 201, 37, 0.12) 0 25%, #0000 0 75%,
      rgba(255, 201, 37, 0.12) 0 calc(250%/3), #0000 0 calc(275%/3),
      rgba(255, 201, 37, 0.12) 0),
      linear-gradient(-45deg,#0000 calc(25%/3), rgba(255, 201, 37, 0.12) 0 calc(50%/3),
      #0000 0 calc(250%/3), rgba(255, 201, 37, 0.12) 0 calc(275%/3),
      #0000 0),linear-gradient(-45deg,rgba(255, 201, 37, 0.12) calc(25%/3), #0000 0 calc(50%/3),
      rgba(255, 201, 37, 0.12) 0 25%, #0000 0 75%,
      rgba(255, 201, 37, 0.12) 0 calc(250%/3), #0000 0 calc(275%/3),
      rgba(255, 201, 37, 0.12) 0)
      rgba(71, 212, 255, 0);
background-size: 60px 60px;
background-position: 0 0, 30px  30px;

}

@layer utilities {
  .formatted-text {
    @apply prose
  }

  .simple-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 1fr));

    justify-items: start;
    align-items: start;
    
    justify-content: center;
    align-content: center;
  }
}